
.cell {
  display: inline-block; 
  width: 15%;
  margin: 2px;
  height: 50px;
  background: #EE9999;
  overflow: hidden;
  border: 1px solid brown;  }

.message {
  height: 30px;
  width: 100%
  border: 1px solid green; }

#game {
  width: 100%;
  text-align: center; }
